<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05-BPtalk-Mar7</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05-BPtalk-Mar7</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0c92e37ecc1c4d28b465e2fc91d85e57.png" alt="05-BPtalk-Mar7" usemap="#id-0c92e37ecc1c4d28b465e2fc91d85e57map"/>
			   <map name="id-0c92e37ecc1c4d28b465e2fc91d85e57map">
				  		<area shape="rect" coords="640,445,760,500" href="../elements/id-226a6834d3eb4f16af89a4f95068c285.html"  target="element">
				  		<area shape="rect" coords="840,445,960,500" href="../elements/id-821f312c881a4c67908d2d5224213ea6.html"  target="element">
				  		<area shape="rect" coords="832,352,952,407" href="../elements/id-942c69ae409c428aae765277fc9b01a1.html"  target="element">
				  		<area shape="rect" coords="645,352,765,407" href="../elements/id-55b0484d7f3b4024a044f7033f53b30b.html"  target="element">
				  		<area shape="rect" coords="268,220,473,246" href="../elements/id-457dd3e284a94c29b3ff613b4a4b870c.html"  target="element">
				  				<area shape="rect" coords="259,364,344,389" href="../views/id-b3584cba3f3b4c9d8f8e9f0bfd53dff5.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="247,340,356,399" href="../elements/id-e8fb0261cabf4ef0bda5184e7292b9ed.html"  target="element">
				  		<area shape="rect" coords="31,376,206,403" href="../elements/id-d30ccb78336944efb61f4023e570c902.html"  target="element">
				  		<area shape="rect" coords="31,340,206,367" href="../elements/id-cfd2f6bd3b8542579bef568d76393356.html"  target="element">
				  		<area shape="rect" coords="31,304,206,331" href="../elements/id-976c223563a14997807cb94fc43121fa.html"  target="element">
				  		<area shape="rect" coords="268,184,473,210" href="../elements/id-37dbee6b7ada410e86c4fbac43efffb8.html"  target="element">
				  		<area shape="rect" coords="268,148,473,174" href="../elements/id-82fe76e924a745339cbccf7cd684bed8.html"  target="element">
				  		<area shape="rect" coords="268,112,473,138" href="../elements/id-5301cc7ee8494b6e882ae3bed16f7b98.html"  target="element">
				  		<area shape="rect" coords="820,71,1013,105" href="../elements/id-b07f7b054353440bb55f6cadd68e1429.html"  target="element">
				  		<area shape="rect" coords="592,71,785,105" href="../elements/id-031c2fbd77c8485c8ac3ed4ed88160a9.html"  target="element">
				  		<area shape="rect" coords="268,75,473,101" href="../elements/id-930a8f362dce45a2a84c14761b3f6f65.html"  target="element">
				  		<area shape="rect" coords="16,220,221,246" href="../elements/id-af0a402c3fa64cc8bd3716eb100b2578.html"  target="element">
				  		<area shape="rect" coords="14,184,219,210" href="../elements/id-a90db3d9b85445eb8e7a00d01ab6f89f.html"  target="element">
				  		<area shape="rect" coords="14,148,219,174" href="../elements/id-451655d8903a459c9d88e4a5ca7a5025.html"  target="element">
				  		<area shape="rect" coords="14,112,219,138" href="../elements/id-666b82181fb742da93b0c0f258c75db6.html"  target="element">
				  		<area shape="rect" coords="16,75,221,101" href="../elements/id-9a9c71d8f5c248dd9880e6ed8d846a00.html"  target="element">
				  		<area shape="rect" coords="10,10,224,44" href="../elements/id-b488b273075844889a5d376971389eeb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b488b273075844889a5d376971389eeb.html" target="element"> &#3629;&#3629;&#3585;&#3649;&#3610;&#3610; 115kV </a> </td>
											    <td> <a href="../elements/id-b488b273075844889a5d376971389eeb.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a9c71d8f5c248dd9880e6ed8d846a00.html" target="element"> &#3651;&#3594;&#3657;&#3648;&#3623;&#3621;&#3634;&#3621;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3609;&#3634;&#3609;&#3617;&#3634;&#3585; </a> </td>
											    <td> <a href="../elements/id-9a9c71d8f5c248dd9880e6ed8d846a00.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-666b82181fb742da93b0c0f258c75db6.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3595;&#3657;&#3635;&#3595;&#3657;&#3629;&#3609;&#3651;&#3609;&#3585;&#3634;&#3619;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-666b82181fb742da93b0c0f258c75db6.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-451655d8903a459c9d88e4a5ca7a5025.html" target="element"> &#3652;&#3617;&#3656;&#3648;&#3627;&#3617;&#3634;&#3632;&#3626;&#3617;&#3585;&#3633;&#3610;&#3626;&#3616;&#3634;&#3614;&#3627;&#3609;&#3657;&#3634;&#3591;&#3634;&#3609;&#3592;&#3619;&#3636;&#3591; </a> </td>
											    <td> <a href="../elements/id-451655d8903a459c9d88e4a5ca7a5025.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a90db3d9b85445eb8e7a00d01ab6f89f.html" target="element"> &#3652;&#3617;&#3656;&#3648;&#3586;&#3657;&#3634;&#3651;&#3592;&#3648;&#3611;&#3657;&#3634;&#3627;&#3617;&#3634;&#3618;&#3586;&#3629;&#3591; GIS </a> </td>
											    <td> <a href="../elements/id-a90db3d9b85445eb8e7a00d01ab6f89f.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af0a402c3fa64cc8bd3716eb100b2578.html" target="element"> &#3609;&#3650;&#3618;&#3610;&#3634;&#3618;&#3651;&#3609;&#3585;&#3634;&#3619;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3591;&#3634;&#3609;&#3651;&#3609;&#3626;&#3634;&#3618;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-af0a402c3fa64cc8bd3716eb100b2578.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-930a8f362dce45a2a84c14761b3f6f65.html" target="element"> &#3607;&#3635;&#3652;&#3617;&#3652;&#3617;&#3656; Post &#3648;&#3621;&#3618; </a> </td>
											    <td> <a href="../elements/id-930a8f362dce45a2a84c14761b3f6f65.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-031c2fbd77c8485c8ac3ed4ed88160a9.html" target="element"> Tailored-made application </a> </td>
											    <td> <a href="../elements/id-031c2fbd77c8485c8ac3ed4ed88160a9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b07f7b054353440bb55f6cadd68e1429.html" target="element"> Well-made application </a> </td>
											    <td> <a href="../elements/id-b07f7b054353440bb55f6cadd68e1429.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5301cc7ee8494b6e882ae3bed16f7b98.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3651;&#3627;&#3617;&#3656; &#3650;&#3604;&#3618; &#3588;&#3640;&#3603;&#3623;&#3626;&#3633;&#3609;&#3605;&#3660; </a> </td>
											    <td> <a href="../elements/id-5301cc7ee8494b6e882ae3bed16f7b98.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82fe76e924a745339cbccf7cd684bed8.html" target="element"> GIS &#3652;&#3617;&#3656;&#3617;&#3637; profile </a> </td>
											    <td> <a href="../elements/id-82fe76e924a745339cbccf7cd684bed8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37dbee6b7ada410e86c4fbac43efffb8.html" target="element"> &#3626;&#3619;&#3640;&#3611; &#3611;&#3633;&#3597;&#3627;&#3634; &#3629;&#3629;&#3585;&#3649;&#3610;&#3610; 115kV </a> </td>
											    <td> <a href="../elements/id-37dbee6b7ada410e86c4fbac43efffb8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-976c223563a14997807cb94fc43121fa.html" target="element"> &#3652;&#3611;&#3604;&#3641;&#3591;&#3634;&#3609;&#3626;&#3635;&#3619;&#3623;&#3592; </a> </td>
											    <td> <a href="../elements/id-976c223563a14997807cb94fc43121fa.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cfd2f6bd3b8542579bef568d76393356.html" target="element"> &#3586;&#3629;&#3604;&#3641;&#3585;&#3634;&#3619;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; </a> </td>
											    <td> <a href="../elements/id-cfd2f6bd3b8542579bef568d76393356.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d30ccb78336944efb61f4023e570c902.html" target="element"> &#3586;&#3629;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; GIS </a> </td>
											    <td> <a href="../elements/id-d30ccb78336944efb61f4023e570c902.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8fb0261cabf4ef0bda5184e7292b9ed.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-e8fb0261cabf4ef0bda5184e7292b9ed.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-b3584cba3f3b4c9d8f8e9f0bfd53dff5.html" target="view"> 01-GIS-App </a> </td>
													    <td> <a href="../views/id-b3584cba3f3b4c9d8f8e9f0bfd53dff5.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-457dd3e284a94c29b3ff613b4a4b870c.html" target="element"> Landbase </a> </td>
											    <td> <a href="../elements/id-457dd3e284a94c29b3ff613b4a4b870c.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55b0484d7f3b4024a044f7033f53b30b.html" target="element"> Goal </a> </td>
											    <td> <a href="../elements/id-55b0484d7f3b4024a044f7033f53b30b.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-942c69ae409c428aae765277fc9b01a1.html" target="element"> Outcome </a> </td>
											    <td> <a href="../elements/id-942c69ae409c428aae765277fc9b01a1.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-821f312c881a4c67908d2d5224213ea6.html" target="element"> Value Stream </a> </td>
											    <td> <a href="../elements/id-821f312c881a4c67908d2d5224213ea6.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-226a6834d3eb4f16af89a4f95068c285.html" target="element"> Value </a> </td>
											    <td> <a href="../elements/id-226a6834d3eb4f16af89a4f95068c285.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3a13826e1da146578461bebd5ef37416.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a13826e1da146578461bebd5ef37416.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-031c2fbd77c8485c8ac3ed4ed88160a9.html" target="element"> Tailored-made application </a> </td>
																		<td> <a href="../elements/id-b07f7b054353440bb55f6cadd68e1429.html" target="element"> Well-made application </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-63b8a8a4ef984ba58ac80ce72978579a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63b8a8a4ef984ba58ac80ce72978579a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfd2f6bd3b8542579bef568d76393356.html" target="element"> &#3586;&#3629;&#3604;&#3641;&#3585;&#3634;&#3619;&#3651;&#3594;&#3657;&#3591;&#3634;&#3609;&#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; </a> </td>
																		<td> <a href="../elements/id-e8fb0261cabf4ef0bda5184e7292b9ed.html" target="element"> Grouping </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
																	<tr>
																		<td> <a href="../elements/id-5edd4a66eb0d41f6a405369b3e79af98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5edd4a66eb0d41f6a405369b3e79af98.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55b0484d7f3b4024a044f7033f53b30b.html" target="element"> Goal </a> </td>
																		<td> <a href="../elements/id-226a6834d3eb4f16af89a4f95068c285.html" target="element"> Value </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-46dab4b8da4d414b95000d4dee6cc3ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46dab4b8da4d414b95000d4dee6cc3ca.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-942c69ae409c428aae765277fc9b01a1.html" target="element"> Outcome </a> </td>
																		<td> <a href="../elements/id-55b0484d7f3b4024a044f7033f53b30b.html" target="element"> Goal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e07868cfef14625a0069783c4bf08aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e07868cfef14625a0069783c4bf08aa.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-942c69ae409c428aae765277fc9b01a1.html" target="element"> Outcome </a> </td>
																		<td> <a href="../elements/id-226a6834d3eb4f16af89a4f95068c285.html" target="element"> Value </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ece10139c0444f8796bb02457dcbfce8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ece10139c0444f8796bb02457dcbfce8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-821f312c881a4c67908d2d5224213ea6.html" target="element"> Value Stream </a> </td>
																		<td> <a href="../elements/id-55b0484d7f3b4024a044f7033f53b30b.html" target="element"> Goal </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>