<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>08-BP-branch</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>08-BP-branch</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-15e0ad9c4726475aa930f8613c2b24d1.png" alt="08-BP-branch" usemap="#id-15e0ad9c4726475aa930f8613c2b24d1map"/>
			   <map name="id-15e0ad9c4726475aa930f8613c2b24d1map">
				  				<area shape="rect" coords="32,142,246,176" href="../elements/id-8467ef9bc5f24f2c8229474c7b0eb3ba.html"  target="element">
				  				<area shape="rect" coords="32,46,246,80" href="../elements/id-2c2748aa017740849c3c070869853b70.html"  target="element">
				  				<area shape="rect" coords="286,142,500,176" href="../elements/id-ba0ccc6d98e5404287857bbf75a7d0b9.html"  target="element">
				  				<area shape="rect" coords="32,94,246,128" href="../elements/id-e1898790962a4c468d0571465a37f2be.html"  target="element">
				  				<area shape="rect" coords="286,46,500,80" href="../elements/id-eb8b0ed4ca094896a3e1d588e04775dc.html"  target="element">
				  				<area shape="rect" coords="286,94,500,128" href="../elements/id-a01a8a110b1b47648dbdcc91496d66d1.html"  target="element">

				  		<area shape="rect" coords="10,10,529,203" href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3618; </a> </td>
											    <td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a01a8a110b1b47648dbdcc91496d66d1.html" target="element"> 5. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3618; </a> </td>
													    <td> <a href="../elements/id-a01a8a110b1b47648dbdcc91496d66d1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb8b0ed4ca094896a3e1d588e04775dc.html" target="element"> 4. &#3626;&#3633;&#3611;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; : &#3585;&#3615;&#3618; </a> </td>
													    <td> <a href="../elements/id-eb8b0ed4ca094896a3e1d588e04775dc.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1898790962a4c468d0571465a37f2be.html" target="element"> 2.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; : &#3585;&#3615;&#3618; </a> </td>
													    <td> <a href="../elements/id-e1898790962a4c468d0571465a37f2be.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba0ccc6d98e5404287857bbf75a7d0b9.html" target="element"> 6. &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635; : &#3585;&#3615;&#3618; </a> </td>
													    <td> <a href="../elements/id-ba0ccc6d98e5404287857bbf75a7d0b9.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c2748aa017740849c3c070869853b70.html" target="element"> 1. &#3586;&#3629;&#3651;&#3594;&#3657;&#3652;&#3615;&#3615;&#3657;&#3634; : &#3585;&#3615;&#3618; </a> </td>
													    <td> <a href="../elements/id-2c2748aa017740849c3c070869853b70.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8467ef9bc5f24f2c8229474c7b0eb3ba.html" target="element"> 3. &#3605;&#3633;&#3604;&#3605;&#3656;&#3629;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660; : &#3585;&#3615;&#3618; </a> </td>
													    <td> <a href="../elements/id-8467ef9bc5f24f2c8229474c7b0eb3ba.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fb14c366813446b2a5917f12d7ca7499.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb14c366813446b2a5917f12d7ca7499.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3618; </a> </td>
																		<td> <a href="../elements/id-a01a8a110b1b47648dbdcc91496d66d1.html" target="element"> 5. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3618; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-090e87dc200d47a0a5dde3c74cd06a4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-090e87dc200d47a0a5dde3c74cd06a4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3618; </a> </td>
																		<td> <a href="../elements/id-eb8b0ed4ca094896a3e1d588e04775dc.html" target="element"> 4. &#3626;&#3633;&#3611;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; : &#3585;&#3615;&#3618; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6644628ee674b728ff213c7fc0233ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6644628ee674b728ff213c7fc0233ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3618; </a> </td>
																		<td> <a href="../elements/id-e1898790962a4c468d0571465a37f2be.html" target="element"> 2.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; : &#3585;&#3615;&#3618; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-450aa50817f04775bb4c243505a065a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-450aa50817f04775bb4c243505a065a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3618; </a> </td>
																		<td> <a href="../elements/id-ba0ccc6d98e5404287857bbf75a7d0b9.html" target="element"> 6. &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635; : &#3585;&#3615;&#3618; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-27b44018061f4af0ac7dc9ef783475d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27b44018061f4af0ac7dc9ef783475d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3618; </a> </td>
																		<td> <a href="../elements/id-2c2748aa017740849c3c070869853b70.html" target="element"> 1. &#3586;&#3629;&#3651;&#3594;&#3657;&#3652;&#3615;&#3615;&#3657;&#3634; : &#3585;&#3615;&#3618; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e702ea762e0f460db28c8eb66aff36c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e702ea762e0f460db28c8eb66aff36c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51152a76179f4ebb8e0dc05d2289c12d.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3618; </a> </td>
																		<td> <a href="../elements/id-8467ef9bc5f24f2c8229474c7b0eb3ba.html" target="element"> 3. &#3605;&#3633;&#3604;&#3605;&#3656;&#3629;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660; : &#3585;&#3615;&#3618; </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>