<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>06-BP-office</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>06-BP-office</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8dcf360189304f549877b6c3ff223e18.png" alt="06-BP-office" usemap="#id-8dcf360189304f549877b6c3ff223e18map"/>
			   <map name="id-8dcf360189304f549877b6c3ff223e18map">
				  				<area shape="rect" coords="274,142,488,176" href="../elements/id-5e7e274f274a4eea93be3f5c197a60a1.html"  target="element">
				  				<area shape="rect" coords="274,46,488,80" href="../elements/id-28e350253e7242d1b519a3f3a969604f.html"  target="element">
				  				<area shape="rect" coords="22,46,236,80" href="../elements/id-09280539b0fe46a9950643f778095da0.html"  target="element">
				  				<area shape="rect" coords="22,190,236,224" href="../elements/id-993fc9ec10694098aec7dc0816bc717b.html"  target="element">
				  				<area shape="rect" coords="538,46,752,80" href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html"  target="element">
				  				<area shape="rect" coords="22,238,236,272" href="../elements/id-c04bed58d0c547e4bd78ebfc30946a25.html"  target="element">
				  				<area shape="rect" coords="22,94,236,128" href="../elements/id-11426b9ea3624335a6913a2301198885.html"  target="element">
				  				<area shape="rect" coords="538,238,752,272" href="../elements/id-9bd60d26f61d411caad3f3651ede677d.html"  target="element">
				  				<area shape="rect" coords="538,94,752,128" href="../elements/id-446981fe97f145ceb8729a5277ad861d.html"  target="element">
				  				<area shape="rect" coords="274,190,488,224" href="../elements/id-f7d20f5e276f499691669c52d14be741.html"  target="element">
				  				<area shape="rect" coords="538,190,752,224" href="../elements/id-f805ab79781b4ae2a7adb7c3268b73ee.html"  target="element">
				  				<area shape="rect" coords="274,94,488,128" href="../elements/id-78b880f9eb6d49d68b524ae025193e07.html"  target="element">
				  				<area shape="rect" coords="538,142,752,176" href="../elements/id-46f8916b53ff438b9d4aa494f9d4123f.html"  target="element">
				  				<area shape="rect" coords="274,238,488,272" href="../elements/id-b015f42db38b4a9e85a1cb3e8378d3a5.html"  target="element">
				  				<area shape="rect" coords="22,142,236,176" href="../elements/id-6f2b940c284042d6a2dfca10e4ae0ca9.html"  target="element">

				  		<area shape="rect" coords="10,10,779,299" href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6f2b940c284042d6a2dfca10e4ae0ca9.html" target="element"> 3.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; (&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;) : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-6f2b940c284042d6a2dfca10e4ae0ca9.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b015f42db38b4a9e85a1cb3e8378d3a5.html" target="element"> 10. &#3626;&#3633;&#3611;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-b015f42db38b4a9e85a1cb3e8378d3a5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-46f8916b53ff438b9d4aa494f9d4123f.html" target="element"> 13. balance load 22/33kV : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-46f8916b53ff438b9d4aa494f9d4123f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78b880f9eb6d49d68b524ae025193e07.html" target="element"> 7. &#3619;&#3639;&#3657;&#3629;&#3606;&#3629;&#3609;&#3618;&#3657;&#3634;&#3618;&#3649;&#3609;&#3623; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-78b880f9eb6d49d68b524ae025193e07.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f805ab79781b4ae2a7adb7c3268b73ee.html" target="element"> 14. &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-f805ab79781b4ae2a7adb7c3268b73ee.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7d20f5e276f499691669c52d14be741.html" target="element"> 9.&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-f7d20f5e276f499691669c52d14be741.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9bd60d26f61d411caad3f3651ede677d.html" target="element"> 15. &#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Landbase : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-9bd60d26f61d411caad3f3651ede677d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-11426b9ea3624335a6913a2301198885.html" target="element"> 2.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; (&#3585;&#3615;&#3616;) : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-11426b9ea3624335a6913a2301198885.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c04bed58d0c547e4bd78ebfc30946a25.html" target="element"> 5. &#3605;&#3633;&#3604;&#3605;&#3656;&#3629;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-c04bed58d0c547e4bd78ebfc30946a25.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-993fc9ec10694098aec7dc0816bc717b.html" target="element"> 4.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3591;&#3610;&#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-993fc9ec10694098aec7dc0816bc717b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09280539b0fe46a9950643f778095da0.html" target="element"> 1. &#3586;&#3629;&#3651;&#3594;&#3657;&#3652;&#3615;&#3615;&#3657;&#3634; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-09280539b0fe46a9950643f778095da0.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28e350253e7242d1b519a3f3a969604f.html" target="element"> 6. &#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3652;&#3615;&#3626;&#3634;&#3608;&#3634;&#3619;&#3603;&#3632; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-28e350253e7242d1b519a3f3a969604f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5e7e274f274a4eea93be3f5c197a60a1.html" target="element"> 8.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3619;&#3632;&#3610;&#3610;&#3591;&#3610;&#3621;&#3591;&#3607;&#3640;&#3609; : &#3585;&#3615;&#3615; </a> </td>
													    <td> <a href="../elements/id-5e7e274f274a4eea93be3f5c197a60a1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e89c1dee25eb45ca9a8fcd8a71936789.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e89c1dee25eb45ca9a8fcd8a71936789.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-6f2b940c284042d6a2dfca10e4ae0ca9.html" target="element"> 3.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; (&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615;) : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-115e4312537f43a7b42576b67b8ea11a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-115e4312537f43a7b42576b67b8ea11a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-b015f42db38b4a9e85a1cb3e8378d3a5.html" target="element"> 10. &#3626;&#3633;&#3611;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3627;&#3617;&#3657;&#3629;&#3649;&#3611;&#3621;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c32ff7b467cf482ea31fe099d244bb18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c32ff7b467cf482ea31fe099d244bb18.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-46f8916b53ff438b9d4aa494f9d4123f.html" target="element"> 13. balance load 22/33kV : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef1f899e281240eb9fd4213595938403.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef1f899e281240eb9fd4213595938403.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-78b880f9eb6d49d68b524ae025193e07.html" target="element"> 7. &#3619;&#3639;&#3657;&#3629;&#3606;&#3629;&#3609;&#3618;&#3657;&#3634;&#3618;&#3649;&#3609;&#3623; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f6fc3d5cdd6432ca3c2cd664de28811.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f6fc3d5cdd6432ca3c2cd664de28811.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-f805ab79781b4ae2a7adb7c3268b73ee.html" target="element"> 14. &#3623;&#3636;&#3648;&#3588;&#3619;&#3634;&#3632;&#3627;&#3660;&#3649;&#3609;&#3623;&#3607;&#3634;&#3591;&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3649;&#3619;&#3591;&#3605;&#3656;&#3635; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24278f632a274faca61600160e82a6af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24278f632a274faca61600160e82a6af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-f7d20f5e276f499691669c52d14be741.html" target="element"> 9.&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8554edb08082427da4a49d1bcd204461.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8554edb08082427da4a49d1bcd204461.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4858f1e61b04fcaab98058e6b74ef1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4858f1e61b04fcaab98058e6b74ef1e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-9bd60d26f61d411caad3f3651ede677d.html" target="element"> 15. &#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; Landbase : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1199664954c34bd1ab3f624c463ba760.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1199664954c34bd1ab3f624c463ba760.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-11426b9ea3624335a6913a2301198885.html" target="element"> 2.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3612;&#3641;&#3657;&#3651;&#3594;&#3657;&#3652;&#3615; (&#3585;&#3615;&#3616;) : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71f32d06e80a4cc8a73c06e16d8ed7a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71f32d06e80a4cc8a73c06e16d8ed7a9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-c04bed58d0c547e4bd78ebfc30946a25.html" target="element"> 5. &#3605;&#3633;&#3604;&#3605;&#3656;&#3629;&#3617;&#3636;&#3648;&#3605;&#3629;&#3619;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f94664bdf0448949d72a217077ce7ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f94664bdf0448949d72a217077ce7ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2ffc843505dc44a097e3ef5f61cdbd43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ffc843505dc44a097e3ef5f61cdbd43.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-993fc9ec10694098aec7dc0816bc717b.html" target="element"> 4.&#3586;&#3618;&#3634;&#3618;&#3648;&#3586;&#3605;&#3591;&#3610;&#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d122285f55c444478854354c7ac4cbeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d122285f55c444478854354c7ac4cbeb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-09280539b0fe46a9950643f778095da0.html" target="element"> 1. &#3586;&#3629;&#3651;&#3594;&#3657;&#3652;&#3615;&#3615;&#3657;&#3634; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f61683b5ea6d4c2099681625a14ea729.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f61683b5ea6d4c2099681625a14ea729.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-28e350253e7242d1b519a3f3a969604f.html" target="element"> 6. &#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3652;&#3615;&#3626;&#3634;&#3608;&#3634;&#3619;&#3603;&#3632; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bc0bdddaa414fc3a23171704397620c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bc0bdddaa414fc3a23171704397620c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19dcdd3ae8294647af449228ce0b0718.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-5e7e274f274a4eea93be3f5c197a60a1.html" target="element"> 8.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3619;&#3632;&#3610;&#3610;&#3591;&#3610;&#3621;&#3591;&#3607;&#3640;&#3609; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>