<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04-GIS-App</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04-GIS-App</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e2df3df9893a4313a53087ada5cdd5eb.png" alt="04-GIS-App" usemap="#id-e2df3df9893a4313a53087ada5cdd5ebmap"/>
			   <map name="id-e2df3df9893a4313a53087ada5cdd5ebmap">
				  				<area shape="rect" coords="369,142,468,175" href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html"  target="element">
				  				<area shape="rect" coords="46,46,133,79" href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html"  target="element">
				  				<area shape="rect" coords="202,94,289,127" href="../elements/id-c599ffb1f12844e083caac5a13c3adb7.html"  target="element">
				  				<area shape="rect" coords="46,142,133,175" href="../elements/id-b06c14e5aea943b194edecc468f2f107.html"  target="element">
				  				<area shape="rect" coords="46,238,133,271" href="../elements/id-d2c7150c8a55460ab3c313bea8be7a5f.html"  target="element">
				  				<area shape="rect" coords="202,238,289,271" href="../elements/id-914f7402e2aa408a9a110210db6e5d14.html"  target="element">
				  				<area shape="rect" coords="370,190,467,223" href="../elements/id-0a23503bce0e40498e25e2563c260342.html"  target="element">
				  				<area shape="rect" coords="369,238,467,271" href="../elements/id-64f50ea7fd7147f6b1e488f0c3dcec72.html"  target="element">
				  				<area shape="rect" coords="202,46,289,79" href="../elements/id-e23cb9bd54664c0b87a9c7df2dea26a2.html"  target="element">
				  				<area shape="rect" coords="46,190,133,223" href="../elements/id-37b6f2f02edc4ba8af2c07a2438a18a9.html"  target="element">
				  				<area shape="rect" coords="369,94,468,127" href="../elements/id-a8b3297764944e19a4e2648edd2d529d.html"  target="element">
				  				<area shape="rect" coords="202,190,289,223" href="../elements/id-c3d6d49c67894f229b473b9d4ee8c276.html"  target="element">
				  				<area shape="rect" coords="202,142,289,175" href="../elements/id-81db5a3201f04227bf920c843a129f9e.html"  target="element">
				  				<area shape="rect" coords="46,94,133,127" href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html"  target="element">

				  		<area shape="rect" coords="10,10,503,287" href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
											    <td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
													    <td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81db5a3201f04227bf920c843a129f9e.html" target="element"> GIS OTS </a> </td>
													    <td> <a href="../elements/id-81db5a3201f04227bf920c843a129f9e.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c3d6d49c67894f229b473b9d4ee8c276.html" target="element"> GIS MJM </a> </td>
													    <td> <a href="../elements/id-c3d6d49c67894f229b473b9d4ee8c276.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a8b3297764944e19a4e2648edd2d529d.html" target="element"> SCS </a> </td>
													    <td> <a href="../elements/id-a8b3297764944e19a4e2648edd2d529d.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37b6f2f02edc4ba8af2c07a2438a18a9.html" target="element"> GIS NET </a> </td>
													    <td> <a href="../elements/id-37b6f2f02edc4ba8af2c07a2438a18a9.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e23cb9bd54664c0b87a9c7df2dea26a2.html" target="element"> GIS WEB </a> </td>
													    <td> <a href="../elements/id-e23cb9bd54664c0b87a9c7df2dea26a2.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64f50ea7fd7147f6b1e488f0c3dcec72.html" target="element"> ADM </a> </td>
													    <td> <a href="../elements/id-64f50ea7fd7147f6b1e488f0c3dcec72.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a23503bce0e40498e25e2563c260342.html" target="element"> GIS MFO </a> </td>
													    <td> <a href="../elements/id-0a23503bce0e40498e25e2563c260342.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-914f7402e2aa408a9a110210db6e5d14.html" target="element"> GIS EIS </a> </td>
													    <td> <a href="../elements/id-914f7402e2aa408a9a110210db6e5d14.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2c7150c8a55460ab3c313bea8be7a5f.html" target="element"> OPSA </a> </td>
													    <td> <a href="../elements/id-d2c7150c8a55460ab3c313bea8be7a5f.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b06c14e5aea943b194edecc468f2f107.html" target="element"> GIS-AH </a> </td>
													    <td> <a href="../elements/id-b06c14e5aea943b194edecc468f2f107.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c599ffb1f12844e083caac5a13c3adb7.html" target="element"> GIS PRJ </a> </td>
													    <td> <a href="../elements/id-c599ffb1f12844e083caac5a13c3adb7.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element"> FAC-LP </a> </td>
													    <td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html" target="element"> GIS MWM </a> </td>
													    <td> <a href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8e4bc4949f5a4c9180b6d4ff7edd1841.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e4bc4949f5a4c9180b6d4ff7edd1841.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92781b6a80124932b2dd1c616aecc1cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92781b6a80124932b2dd1c616aecc1cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-81db5a3201f04227bf920c843a129f9e.html" target="element"> GIS OTS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46eacb4408d64861ae4c917576d95784.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46eacb4408d64861ae4c917576d95784.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-c3d6d49c67894f229b473b9d4ee8c276.html" target="element"> GIS MJM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9cad3fbc4abb4892a0b93c03b3201450.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9cad3fbc4abb4892a0b93c03b3201450.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-a8b3297764944e19a4e2648edd2d529d.html" target="element"> SCS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e16f8c7fa7d04cc884adba0117988120.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e16f8c7fa7d04cc884adba0117988120.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-37b6f2f02edc4ba8af2c07a2438a18a9.html" target="element"> GIS NET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73d98d1121fc4226ad1149d9493c1f83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73d98d1121fc4226ad1149d9493c1f83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-e23cb9bd54664c0b87a9c7df2dea26a2.html" target="element"> GIS WEB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ac02ad1ddac42c9bd6a509027b654bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ac02ad1ddac42c9bd6a509027b654bf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-64f50ea7fd7147f6b1e488f0c3dcec72.html" target="element"> ADM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a2735fb0abfb4ea9be807a5f244884ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2735fb0abfb4ea9be807a5f244884ac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-0a23503bce0e40498e25e2563c260342.html" target="element"> GIS MFO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ad956563eb94263b70de3b5e523e1da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ad956563eb94263b70de3b5e523e1da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-914f7402e2aa408a9a110210db6e5d14.html" target="element"> GIS EIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-001861f5e57d4b7ab36415b45728d65d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-001861f5e57d4b7ab36415b45728d65d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-d2c7150c8a55460ab3c313bea8be7a5f.html" target="element"> OPSA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3663889b46c04f77bf1db667667472e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3663889b46c04f77bf1db667667472e1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-b06c14e5aea943b194edecc468f2f107.html" target="element"> GIS-AH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43b1132167744f7ba6f3d93deb0e392d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43b1132167744f7ba6f3d93deb0e392d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-c599ffb1f12844e083caac5a13c3adb7.html" target="element"> GIS PRJ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9045b01b15774481a11ecc69d4914391.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9045b01b15774481a11ecc69d4914391.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element"> FAC-LP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-07a029f33719492e830de2e85bd62bd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07a029f33719492e830de2e85bd62bd2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9d3fd85edb84072af2fbc5bed6f5e9a.html" target="element"> GIS App </a> </td>
																		<td> <a href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html" target="element"> GIS MWM </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f1175dacdce44e4a91a772caf9b6f31f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f1175dacdce44e4a91a772caf9b6f31f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c3d6d49c67894f229b473b9d4ee8c276.html" target="element"> GIS MJM </a> </td>
																				<td> <a href="../elements/id-0a23503bce0e40498e25e2563c260342.html" target="element"> GIS MFO </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>