<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-BPtalk-Mar6</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-BPtalk-Mar6</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e70e0923bcb04a9fbec883f8d6390857.png" alt="02-BPtalk-Mar6" usemap="#id-e70e0923bcb04a9fbec883f8d6390857map"/>
			   <map name="id-e70e0923bcb04a9fbec883f8d6390857map">
				  		<area shape="rect" coords="882,71,947,99" href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html"  target="element">
				  		<area shape="rect" coords="514,83,575,111" href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html"  target="element">
				  		<area shape="rect" coords="514,182,601,215" href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html"  target="element">
				  		<area shape="rect" coords="118,503,346,528" href="../elements/id-0f7dde07f367447e9292aafa36fda9d1.html"  target="element">
				  		<area shape="rect" coords="10,185,97,213" href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html"  target="element">
				  		<area shape="rect" coords="876,138,975,166" href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html"  target="element">
				  		<area shape="rect" coords="876,233,963,261" href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html"  target="element">
				  				<area shape="rect" coords="670,94,836,117" href="../elements/id-2ad1d802de224cceb3c163e3d681e352.html"  target="element">
				  				<area shape="rect" coords="670,140,836,163" href="../elements/id-23edd5df14ff42138c1a93845a14af19.html"  target="element">
				  				<area shape="rect" coords="670,286,836,309" href="../elements/id-c04a040432df4f17864a2fcc7efc5aba.html"  target="element">
				  				<area shape="rect" coords="680,46,826,70" href="../elements/id-7f7bc44e511b45be8808bfea631df857.html"  target="element">
				  				<area shape="rect" coords="670,190,836,213" href="../elements/id-6d78cdc274664a3898488b855e20a9ec.html"  target="element">
				  				<area shape="rect" coords="670,238,836,261" href="../elements/id-591b72d8d0ae4ffdbee579f5644b2826.html"  target="element">

				  		<area shape="rect" coords="646,10,863,329" href="../elements/id-446981fe97f145ceb8729a5277ad861d.html"  target="element">
				  				<area shape="rect" coords="142,188,284,211" href="../elements/id-013246dc9ff646078c41500de57cbd1d.html"  target="element">
				  				<area shape="rect" coords="298,237,455,260" href="../elements/id-6b6eaaf1aa03417e802d192bc7fabe4d.html"  target="element">
				  				<area shape="rect" coords="298,188,455,211" href="../elements/id-4bff7c47641a4d509296e89af44ee74d.html"  target="element">
				  				<area shape="rect" coords="142,141,284,164" href="../elements/id-a773eb9d3e3c4696a168cc9aeb617a77.html"  target="element">
				  				<area shape="rect" coords="298,286,455,309" href="../elements/id-de1cae0de62248268d0fd4190f27239d.html"  target="element">
				  				<area shape="rect" coords="142,237,284,260" href="../elements/id-e1437e9f91a04d97a505157fa8adb1f1.html"  target="element">
				  				<area shape="rect" coords="178,46,344,69" href="../elements/id-32da5d3ef4e2481c9faa72fc8e5e9c59.html"  target="element">
				  				<area shape="rect" coords="178,91,344,114" href="../elements/id-4477665c22674974988e2ae169938232.html"  target="element">
				  				<area shape="rect" coords="298,141,455,164" href="../elements/id-b3602740938b44cc9c5dd5f85410a37c.html"  target="element">
				  				<area shape="rect" coords="298,334,455,357" href="../elements/id-47e1858d03cb4abcb4ede9082d59fe5b.html"  target="element">

				  		<area shape="rect" coords="118,10,480,371" href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html"  target="element">
				  		<area shape="rect" coords="118,463,346,488" href="../elements/id-ba7de687815f4af596b77a68e93e1efa.html"  target="element">
				  		<area shape="rect" coords="118,427,346,452" href="../elements/id-c7e26e6c26db477ca8b95ef6341f533a.html"  target="element">
				  		<area shape="rect" coords="118,395,346,420" href="../elements/id-17275d32f530488a9cf007dbfe8713ce.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-17275d32f530488a9cf007dbfe8713ce.html" target="element"> &#3610;&#3633;&#3609;&#3607;&#3638;&#3585; WBS </a> </td>
											    <td> <a href="../elements/id-17275d32f530488a9cf007dbfe8713ce.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7e26e6c26db477ca8b95ef6341f533a.html" target="element"> check point </a> </td>
											    <td> <a href="../elements/id-c7e26e6c26db477ca8b95ef6341f533a.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba7de687815f4af596b77a68e93e1efa.html" target="element"> &#3621;&#3610;&#3649;&#3621;&#3632;&#3626;&#3619;&#3657;&#3634;&#3591;&#3651;&#3627;&#3617;&#3656; </a> </td>
											    <td> <a href="../elements/id-ba7de687815f4af596b77a68e93e1efa.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-47e1858d03cb4abcb4ede9082d59fe5b.html" target="element"> 7.Post GIS </a> </td>
													    <td> <a href="../elements/id-47e1858d03cb4abcb4ede9082d59fe5b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b3602740938b44cc9c5dd5f85410a37c.html" target="element"> 3.&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3605;&#3634;&#3617;&#3649;&#3612;&#3609; </a> </td>
													    <td> <a href="../elements/id-b3602740938b44cc9c5dd5f85410a37c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4477665c22674974988e2ae169938232.html" target="element"> 2.&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3604;&#3635;&#3648;&#3609;&#3609;&#3585;&#3634;&#3619; </a> </td>
													    <td> <a href="../elements/id-4477665c22674974988e2ae169938232.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32da5d3ef4e2481c9faa72fc8e5e9c59.html" target="element"> 1.&#3592;&#3633;&#3604;&#3607;&#3635;&#3649;&#3612;&#3609;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
													    <td> <a href="../elements/id-32da5d3ef4e2481c9faa72fc8e5e9c59.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1437e9f91a04d97a505157fa8adb1f1.html" target="element"> 5.Post GIS </a> </td>
													    <td> <a href="../elements/id-e1437e9f91a04d97a505157fa8adb1f1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-de1cae0de62248268d0fd4190f27239d.html" target="element"> 6.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3627;&#3621;&#3633;&#3591;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
													    <td> <a href="../elements/id-de1cae0de62248268d0fd4190f27239d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a773eb9d3e3c4696a168cc9aeb617a77.html" target="element"> 3.&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
													    <td> <a href="../elements/id-a773eb9d3e3c4696a168cc9aeb617a77.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4bff7c47641a4d509296e89af44ee74d.html" target="element"> 4.&#3626;&#3635;&#3619;&#3623;&#3592;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; </a> </td>
													    <td> <a href="../elements/id-4bff7c47641a4d509296e89af44ee74d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6b6eaaf1aa03417e802d192bc7fabe4d.html" target="element"> 5.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; &#3616;&#3634;&#3588;&#3626;&#3609;&#3634;&#3617; </a> </td>
													    <td> <a href="../elements/id-6b6eaaf1aa03417e802d192bc7fabe4d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-013246dc9ff646078c41500de57cbd1d.html" target="element"> 4.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
													    <td> <a href="../elements/id-013246dc9ff646078c41500de57cbd1d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-591b72d8d0ae4ffdbee579f5644b2826.html" target="element"> &#3611;&#3619;&#3633;&#3610;&#3649;&#3585;&#3657; Attribute </a> </td>
													    <td> <a href="../elements/id-591b72d8d0ae4ffdbee579f5644b2826.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6d78cdc274664a3898488b855e20a9ec.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
													    <td> <a href="../elements/id-6d78cdc274664a3898488b855e20a9ec.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7f7bc44e511b45be8808bfea631df857.html" target="element"> &#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
													    <td> <a href="../elements/id-7f7bc44e511b45be8808bfea631df857.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c04a040432df4f17864a2fcc7efc5aba.html" target="element"> Post GIS </a> </td>
													    <td> <a href="../elements/id-c04a040432df4f17864a2fcc7efc5aba.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-23edd5df14ff42138c1a93845a14af19.html" target="element"> &#3588;&#3657;&#3609;&#3627;&#3634;&#3605;&#3635;&#3649;&#3627;&#3609;&#3656;&#3591;&#3626;&#3606;&#3634;&#3609;&#3607;&#3637;&#3656; </a> </td>
													    <td> <a href="../elements/id-23edd5df14ff42138c1a93845a14af19.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ad1d802de224cceb3c163e3d681e352.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; </a> </td>
													    <td> <a href="../elements/id-2ad1d802de224cceb3c163e3d681e352.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
											    <td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html" target="element"> GIS MWM </a> </td>
											    <td> <a href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
											    <td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f7dde07f367447e9292aafa36fda9d1.html" target="element"> &#3650;&#3615;&#3621;&#3607;&#3637;&#3656;&#3621;&#3632;&#3648;&#3629;&#3637;&#3618;&#3604;&#3586;&#3638;&#3657;&#3609; &#3617;&#3637;&#3627;&#3619;&#3639;&#3629;&#3652;&#3617;&#3656; </a> </td>
											    <td> <a href="../elements/id-0f7dde07f367447e9292aafa36fda9d1.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element"> FAC-LP </a> </td>
											    <td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
											    <td> <a href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7fcaafba5811413ba6bd9abb47b38320.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fcaafba5811413ba6bd9abb47b38320.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-47e1858d03cb4abcb4ede9082d59fe5b.html" target="element"> 7.Post GIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47bfe19048384981ab6cb6058cd8f0d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47bfe19048384981ab6cb6058cd8f0d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-b3602740938b44cc9c5dd5f85410a37c.html" target="element"> 3.&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3605;&#3634;&#3617;&#3649;&#3612;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff2e7297256347fdb7fcdbb380f79368.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff2e7297256347fdb7fcdbb380f79368.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-4477665c22674974988e2ae169938232.html" target="element"> 2.&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3604;&#3635;&#3648;&#3609;&#3609;&#3585;&#3634;&#3619; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d291659d2874d5ca8af0b6355333dbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d291659d2874d5ca8af0b6355333dbc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-32da5d3ef4e2481c9faa72fc8e5e9c59.html" target="element"> 1.&#3592;&#3633;&#3604;&#3607;&#3635;&#3649;&#3612;&#3609;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7edcd6f7d0174f1696060bfa0670d969.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7edcd6f7d0174f1696060bfa0670d969.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-e1437e9f91a04d97a505157fa8adb1f1.html" target="element"> 5.Post GIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be86fd866998464785e34dab23dfbac3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be86fd866998464785e34dab23dfbac3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-de1cae0de62248268d0fd4190f27239d.html" target="element"> 6.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3627;&#3621;&#3633;&#3591;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b837720dc05b495ab51783a31542192c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b837720dc05b495ab51783a31542192c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-a773eb9d3e3c4696a168cc9aeb617a77.html" target="element"> 3.&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0223924b4e1a4b409e3c41c1175685c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0223924b4e1a4b409e3c41c1175685c5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-4bff7c47641a4d509296e89af44ee74d.html" target="element"> 4.&#3626;&#3635;&#3619;&#3623;&#3592;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6719d706738412a992740d4d41ebfa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6719d706738412a992740d4d41ebfa7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-6b6eaaf1aa03417e802d192bc7fabe4d.html" target="element"> 5.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; &#3616;&#3634;&#3588;&#3626;&#3609;&#3634;&#3617; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a4b5f2aa2a74538a4d97541058cc47f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a4b5f2aa2a74538a4d97541058cc47f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-013246dc9ff646078c41500de57cbd1d.html" target="element"> 4.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d5caf82068694dc5abc8338626c80960.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5caf82068694dc5abc8338626c80960.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b3602740938b44cc9c5dd5f85410a37c.html" target="element"> 3.&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3605;&#3634;&#3617;&#3649;&#3612;&#3609; </a> </td>
																				<td> <a href="../elements/id-4bff7c47641a4d509296e89af44ee74d.html" target="element"> 4.&#3626;&#3635;&#3619;&#3623;&#3592;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3dd5557ab11c42ab9c22bf4a50f72271.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3dd5557ab11c42ab9c22bf4a50f72271.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4477665c22674974988e2ae169938232.html" target="element"> 2.&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3604;&#3635;&#3648;&#3609;&#3609;&#3585;&#3634;&#3619; </a> </td>
																				<td> <a href="../elements/id-a773eb9d3e3c4696a168cc9aeb617a77.html" target="element"> 3.&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-385621cf90f64882ac5929791d717df5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-385621cf90f64882ac5929791d717df5.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4477665c22674974988e2ae169938232.html" target="element"> 2.&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3604;&#3635;&#3648;&#3609;&#3609;&#3585;&#3634;&#3619; </a> </td>
																				<td> <a href="../elements/id-b3602740938b44cc9c5dd5f85410a37c.html" target="element"> 3.&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3605;&#3634;&#3617;&#3649;&#3612;&#3609; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f3592575137d49879d71f5245cdf85c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f3592575137d49879d71f5245cdf85c0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-32da5d3ef4e2481c9faa72fc8e5e9c59.html" target="element"> 1.&#3592;&#3633;&#3604;&#3607;&#3635;&#3649;&#3612;&#3609;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
																				<td> <a href="../elements/id-4477665c22674974988e2ae169938232.html" target="element"> 2.&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3604;&#3635;&#3648;&#3609;&#3609;&#3585;&#3634;&#3619; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-46b75cbe1f0a4e2a92430205838fb1d2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-46b75cbe1f0a4e2a92430205838fb1d2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-de1cae0de62248268d0fd4190f27239d.html" target="element"> 6.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3627;&#3621;&#3633;&#3591;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
																				<td> <a href="../elements/id-47e1858d03cb4abcb4ede9082d59fe5b.html" target="element"> 7.Post GIS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6c5d35f29b9e44299fd735d98e03e45b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c5d35f29b9e44299fd735d98e03e45b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a773eb9d3e3c4696a168cc9aeb617a77.html" target="element"> 3.&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
																				<td> <a href="../elements/id-013246dc9ff646078c41500de57cbd1d.html" target="element"> 4.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d3147e54934a42ae8c19316273258f35.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d3147e54934a42ae8c19316273258f35.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4bff7c47641a4d509296e89af44ee74d.html" target="element"> 4.&#3626;&#3635;&#3619;&#3623;&#3592;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; </a> </td>
																				<td> <a href="../elements/id-6b6eaaf1aa03417e802d192bc7fabe4d.html" target="element"> 5.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; &#3616;&#3634;&#3588;&#3626;&#3609;&#3634;&#3617; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-132c9d89a138444280575b96a2343ae3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-132c9d89a138444280575b96a2343ae3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6b6eaaf1aa03417e802d192bc7fabe4d.html" target="element"> 5.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; &#3616;&#3634;&#3588;&#3626;&#3609;&#3634;&#3617; </a> </td>
																				<td> <a href="../elements/id-de1cae0de62248268d0fd4190f27239d.html" target="element"> 6.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3627;&#3621;&#3633;&#3591;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c10de9f06fb84d02bde0ef031a214ed6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c10de9f06fb84d02bde0ef031a214ed6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-013246dc9ff646078c41500de57cbd1d.html" target="element"> 4.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
																				<td> <a href="../elements/id-e1437e9f91a04d97a505157fa8adb1f1.html" target="element"> 5.Post GIS </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-eb0d5b4b3cc74d728faec208079dfcce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb0d5b4b3cc74d728faec208079dfcce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-591b72d8d0ae4ffdbee579f5644b2826.html" target="element"> &#3611;&#3619;&#3633;&#3610;&#3649;&#3585;&#3657; Attribute </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb73480e63274b39b98a211c36e0867d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb73480e63274b39b98a211c36e0867d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-6d78cdc274664a3898488b855e20a9ec.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72ecadf0af7844dbb71b3cb2de769b98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72ecadf0af7844dbb71b3cb2de769b98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-c04a040432df4f17864a2fcc7efc5aba.html" target="element"> Post GIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-688a083f89e1403fb7e8c8d4adcb257a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-688a083f89e1403fb7e8c8d4adcb257a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-23edd5df14ff42138c1a93845a14af19.html" target="element"> &#3588;&#3657;&#3609;&#3627;&#3634;&#3605;&#3635;&#3649;&#3627;&#3609;&#3656;&#3591;&#3626;&#3606;&#3634;&#3609;&#3607;&#3637;&#3656; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1afb035bd22e4fd4ae0053f9b08f1f24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1afb035bd22e4fd4ae0053f9b08f1f24.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-2ad1d802de224cceb3c163e3d681e352.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0853e23b5294474297993d946fe71bb2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0853e23b5294474297993d946fe71bb2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-591b72d8d0ae4ffdbee579f5644b2826.html" target="element"> &#3611;&#3619;&#3633;&#3610;&#3649;&#3585;&#3657; Attribute </a> </td>
																				<td> <a href="../elements/id-c04a040432df4f17864a2fcc7efc5aba.html" target="element"> Post GIS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4ca0ee756e0d4d369d49f5a4c51363f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ca0ee756e0d4d369d49f5a4c51363f1.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6d78cdc274664a3898488b855e20a9ec.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																				<td> <a href="../elements/id-591b72d8d0ae4ffdbee579f5644b2826.html" target="element"> &#3611;&#3619;&#3633;&#3610;&#3649;&#3585;&#3657; Attribute </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bbbcfa0863f540938a75aeecf664ec7a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bbbcfa0863f540938a75aeecf664ec7a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7f7bc44e511b45be8808bfea631df857.html" target="element"> &#3648;&#3627;&#3605;&#3640;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; </a> </td>
																				<td> <a href="../elements/id-2ad1d802de224cceb3c163e3d681e352.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d109724f351249ea91f3cb7a6c578850.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d109724f351249ea91f3cb7a6c578850.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23edd5df14ff42138c1a93845a14af19.html" target="element"> &#3588;&#3657;&#3609;&#3627;&#3634;&#3605;&#3635;&#3649;&#3627;&#3609;&#3656;&#3591;&#3626;&#3606;&#3634;&#3609;&#3607;&#3637;&#3656; </a> </td>
																				<td> <a href="../elements/id-6d78cdc274664a3898488b855e20a9ec.html" target="element"> &#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619;&#3649;&#3585;&#3657;&#3652;&#3586; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6f69994af8d14f2ca0b0b5adf5608f33.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f69994af8d14f2ca0b0b5adf5608f33.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2ad1d802de224cceb3c163e3d681e352.html" target="element"> &#3619;&#3633;&#3610;&#3649;&#3592;&#3657;&#3591;&#3648;&#3627;&#3605;&#3640; </a> </td>
																				<td> <a href="../elements/id-23edd5df14ff42138c1a93845a14af19.html" target="element"> &#3588;&#3657;&#3609;&#3627;&#3634;&#3605;&#3635;&#3649;&#3627;&#3609;&#3656;&#3591;&#3626;&#3606;&#3634;&#3609;&#3607;&#3637;&#3656; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a6b329c20e7f437e8473427192ed919a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6b329c20e7f437e8473427192ed919a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
																		<td> <a href="../elements/id-591b72d8d0ae4ffdbee579f5644b2826.html" target="element"> &#3611;&#3619;&#3633;&#3610;&#3649;&#3585;&#3657; Attribute </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d47071489dff4aa7a0031c88015e68e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d47071489dff4aa7a0031c88015e68e8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
																		<td> <a href="../elements/id-c04a040432df4f17864a2fcc7efc5aba.html" target="element"> Post GIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-43a995d3f1724569b3ed42733e004c4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43a995d3f1724569b3ed42733e004c4c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-753ba1595c2c4bc288d7deac2d5356ec.html" target="element"> GIS MWM </a> </td>
																		<td> <a href="../elements/id-23edd5df14ff42138c1a93845a14af19.html" target="element"> &#3588;&#3657;&#3609;&#3627;&#3634;&#3605;&#3635;&#3649;&#3627;&#3609;&#3656;&#3591;&#3626;&#3606;&#3634;&#3609;&#3607;&#3637;&#3656; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ed836026c5124403bb7a35022ad2d34f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed836026c5124403bb7a35022ad2d34f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
																		<td> <a href="../elements/id-013246dc9ff646078c41500de57cbd1d.html" target="element"> 4.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3619;&#3627;&#3633;&#3626;&#3626;&#3633;&#3656;&#3591;&#3585;&#3634;&#3619; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8e2c4249fae243f2aed8f7ea8a6a902e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e2c4249fae243f2aed8f7ea8a6a902e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-baa1d7bea24c44fca9f469fcec65cea7.html" target="element"> GIS-DM </a> </td>
																		<td> <a href="../elements/id-e1437e9f91a04d97a505157fa8adb1f1.html" target="element"> 5.Post GIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a1dd1d439d94e9dbca5c49817f116d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a1dd1d439d94e9dbca5c49817f116d5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element"> FAC-LP </a> </td>
																		<td> <a href="../elements/id-4bff7c47641a4d509296e89af44ee74d.html" target="element"> 4.&#3626;&#3635;&#3619;&#3623;&#3592;&#3629;&#3629;&#3585;&#3649;&#3610;&#3610; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5741f299944b455f908004fb50bfaf28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5741f299944b455f908004fb50bfaf28.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element"> FAC-LP </a> </td>
																		<td> <a href="../elements/id-de1cae0de62248268d0fd4190f27239d.html" target="element"> 6.&#3611;&#3619;&#3633;&#3610;&#3611;&#3619;&#3640;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3627;&#3621;&#3633;&#3591;&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74633fc273a04f6aadfe0398fc2beaa8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74633fc273a04f6aadfe0398fc2beaa8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e4a881b65464c36adb46fc9ae10c95b.html" target="element"> FAC-LP </a> </td>
																		<td> <a href="../elements/id-47e1858d03cb4abcb4ede9082d59fe5b.html" target="element"> 7.Post GIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0c8f02a14d53403586346f3f892f5a06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c8f02a14d53403586346f3f892f5a06.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-7f77000e4f6441579cadd79cf98ea9ad.html" target="element"> 11.&#3605;&#3636;&#3604;&#3605;&#3633;&#3657;&#3591;&#3626;&#3633;&#3610;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609; &#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e7921d85716144a4bd71530051d02048.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7921d85716144a4bd71530051d02048.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f7bc89d4428a4f8794ed240275f4d0a8.html" target="element"> &#3585;&#3615;&#3615; </a> </td>
																		<td> <a href="../elements/id-446981fe97f145ceb8729a5277ad861d.html" target="element"> 12. &#3649;&#3585;&#3657;&#3652;&#3586;&#3652;&#3615;&#3615;&#3657;&#3634;&#3586;&#3633;&#3604;&#3586;&#3657;&#3629;&#3591; : &#3585;&#3615;&#3615; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>